# Environment variables
.env
*.env

# Node modules
**/node_modules/
# Python cache
__pycache__/
*.pyc

# Trained models

# Large datasets
ml-service/data/
ml-service/pipeline_data/

# AI generated data


# VS Code settings
.vscode/